<div class="card">

  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">

  <form #f="ngForm">
    <div class="form-group">
      <label>From:</label>
      <input
        [(ngModel)]="from"
        name="from"
        class="form-control"
        required
        minlength="3"
        [city]="['Wien','Berlin']">
    </div>
    <pre *ngIf="f?.controls['from']?.invalid">Error aufgetreten.</pre>
    <pre *ngIf="f?.controls['from']?.hasError('required')">Das ist ein Pflichtfeld.</pre>
    <pre *ngIf="f?.controls['from']?.hasError('minlength')">Bitte mindestens 3 Zeichen eingeben.</pre>
    <pre *ngIf="f?.controls['from']?.hasError('city')">Eingegebene Stadt ist nicht auf der Whitelist. Erlaubte Städte: {{
      	f?.controls['from']?.errors.city.validCities
    }}</pre>
    <div class="form-group">
      <label>To:</label>
      <input [(ngModel)]="to" name="to" class="form-control">
    </div>

    <div class="form-group">
      <button
        class="btn btn-default"
        [disabled]="f?.invalid"
        (click)="search()">Search</button>
    </div>
  </form>

  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of flights"
    class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]"></app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{
      basket | json
    }}</pre>
  </div>
</div>